body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: snow;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  height: 90%;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr repeat(2, 4fr) repeat(4, 1fr);
  grid-template-rows: 60px auto;
}

#newBook {
  grid-column: 1;
  margin: 15px;
  width: 70%;
}

#id {
  grid-row: 2;
  grid-column: 1;
}

#title {
  grid-row: 2;
  grid-column: 2;
}

#author {
  grid-row: 2;
  grid-column: 3;

}

#pages {
  grid-row: 2;
  grid-column: 4;
}

#read {
  grid-row: 2;
  grid-column: 5;
  
}

#change {
  grid-row: 2;
  grid-column: 6;
  display: flex;
  flex-direction: column;
}

#remove {
  grid-row: 2;
  grid-column: 7;
  display: flex;
  flex-direction: column;
}

.rmvBtns {
  background-color: red;
  color: white;
}

#submit {
  background-color: green;
  color: white;
}

#id *,
#title *,
#author *,
#pages *,
#read *,
#change *,
#remove *,
#submit * {
  padding: 2px;
}

#iTitle {
  width: 90%;
}

#iAuthor {
  width: 90%;
}

#iPages {
  width: 40%;
}

#iRead {
  width: 60%;
}